manifest {
    name = 'Wgs lineage 1 phylogenetic'
    description = "Workflow for wgs1"
    version = '0.0.1'
    author = 'Abhinav Sharma <abhi18av@outlook.com>; Davi Marcon <davijosuemarcon@gmail.com> ;Emilyn Costa Conceição <emilyncosta@outlook.com>'
    mainScript = 'main.nf'
    defaultBranch = 'master'
}

docker.enabled = true
process.errorStrategy = 'ignore'

profiles {
    standard { includeConfig 'conf/standard.config' }
    gls { includeConfig 'conf/gcp.config' }
    azureBatch { includeConfig 'conf/azure.config' }
    awsBatch { includeConfig 'conf/aws.config' }
    stub { includeConfig 'conf/stub.config' }
}
