//standard configs for all the processes

params {
    input_type = "reads"
    outdir = "${baseDir}/wgs_output"
    save_mode = "copy"
    should_publish = "true"
    USER = "root"
    // Trimommatic
    adapter_file_name = "NexteraPE-PE.fa"
    // export raw genomes?
    export_genomes = true
    //mtbseq
    mtbseq_library_name = "somelib"
    mtbseq_project_name = "wgslineage1"
 }
