process {
    withName:
        "EXPORT_RAW_GENOMES" {
            container = "gliderlabs/alpine"
            cpus = 2
            memory = "3 GB"
    }

    withName:
        "FASTQC_ORIGINAL|FASTQC_TRIMMED" {
            container = 'quay.io/biocontainers/fastqc:0.11.9--0'
            cpus = 2
            memory = "3 GB"
    }

    withName:
        "MULTIQC_ORIGINAL|MULTIQC_TRIMMED" {
            container = 'quay.io/biocontainers/multiqc:1.9--pyh9f0ad1d_0'
            cpus = 3
            memory = "4 GB"
    }

    withName:
        "TRIMMOMATIC"  {
            container = 'quay.io/biocontainers/trimmomatic:0.35--6'
            cpus = 4
            memory = "5 GB"
    }

    withName:
        "SPADES" {
            container = 'quay.io/biocontainers/spades:3.14.0--h2d02072_0'
            cpus = 8
            memory = "8 GB"
    }

    withName:
        "PROKKA" {
            container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
            cpus = 5
            memory = "6 GB"
    }

    withName:
        "MTBSEQ_PER_SAMPLE" {
            container = 'quay.io/biocontainers/mtbseq:1.0.3--pl526_1'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "TBPROFILER_PROFILE|TBPROFILER_COLLATE" {
            container = 'quay.io/biocontainers/tb-profiler:2.8.6--pypy_0'
            cpus = 8
            memory = "15 GB"
    }

    withName:
        "RD_ANALYZER" {
            container = 'quay.io/bioinformatics_playground/rd_analyzer:0.0.1'
            cpus = 6
            memory = "10 GB"
    }

    withName:
        "SPOTYPING" {
            container = 'quay.io/bioinformatics_playground/spotyping:0.0.1'
            cpus = 8
            memory = "16 GB"
    }


}
