params {

    input_type = "reads"
    reads = "${baseDir}/data/mock_data/*_{1,2}.fastq.gz"
    gatkjar = "${baseDir}/data/mock_data/GenomeAnalysisTK.jar"
    reference = "${baseDir}/data/mock_dataNC000124.fasta"
    outdir = "${baseDir}/wgs_stub_output"
    mtbseq_library_name = "illumina"

}

process {
    withName:
    ".*" {
        container = "ubuntu:20.04"
        cpus = 2
        memory = "2 GB"
    }
}
